<div class="purchase-box">
    <div class="title">Painel de Compras</div>
    <div class="import-box">
        <div class="import-form">
            <form action="">
                <span class="import-inputs">
                    <div class="input-box-mini">
                        <label for="company">Empresa</label>
                        <input class="input-mini" #company type="text">
                    </div>
                    <div class="input-box-mini">
                        <label for="branch">Filial</label>
                        <input class="input-mini" #branch type="text">
                    </div>
                    <div class="input-box-max">
                        <label for="request_id">Código da solicitação</label>
                        <input class="input-max" #request_id type="number">
                    </div>
                </span>
                <div style="width: 100%;">
                    <button class="submit-btn" (click)="importPurchase(request_id.value, company.value, branch.value)">Importar</button>
                </div>
            </form>
        </div>

    </div>
    <div [hidden]="!showlist" style="display: flex; justify-content: center; flex-direction: column; width: 80%; margin: 0 auto;">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"  style="width: 100%;">
            <thead>
                <tr>
                    <th>Nº Solicitação</th>
                    <th>Dt Solicitação</th>
                    <th>Dt Lançamento</th>
                    <th>Status</th>
                    <th>Empresa</th>
                    <th>Filial</th>
                    <th>Solicitante</th>
                    <th>Responsável</th>
                    <th>Itens Cad.</th>
                    <th>Editar</th>                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of purchases">
                    <td style="text-align: center;"> {{ p.request_id }} </td>
                    <td style="text-align: center;"> {{ p.date }} </td>
                    <td style="text-align: center;"> {{ p.pub_date | date }} </td>
                    <td style="text-align: center;"> {{ p.status }} </td>
                    <td style="text-align: center;"> {{ p.company | extractCompany:p.branch:'C' }} </td>
                    <td style="text-align: center;"> {{ p.branch }} </td>
                    <td style="text-align: center;"> {{ p.requester }} </td>
                    <td style="text-align: center;"> {{ p.responsible }} </td>
                    <td style="text-align: center;"> Waiting </td>
                    <td style="text-align: center;"> Waiting </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="error-box">
    <p>{{ error?.message }}</p>
    <p *ngIf="error">{{ error?.error | json }}</p>
</div>

